# ── Base de datos ─────────────────────────────────────────────────────────────
DB_HOST=availability-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=availability_db

# ── Servidor gRPC ─────────────────────────────────────────────────────────────
GRPC_PORT=50051
