# ── Base de datos ─────────────────────────────────────────────────────────────
DB_HOST=payments-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=payments_db
 
# ── Servidor gRPC ─────────────────────────────────────────────────────────────
GRPC_PORT=50051